* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

:root {
  --background: #121212;
  --surface-1: #222222;
  --surface-2: #272727;
  --border: solid 1px #373737; 
  --box-shadow: 3px 3px 3px #000;
  --side-padding: 15px;
  --inner-padding: 8px;
  --border-radius: 16px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  body,
  html {
    overflow-y: hidden;
  }
}
